* {
	margin: 0;
	padding: 0;
}

li {
    list-style: none;
}

#slideshow {
    margin: 20px auto 0 auto;
    width: 242px;
    height: 140px;
    background: #d5d5d5 url(slideshow_bg.gif) repeat-x;
}

#slideshow_wrapper {
    /* we use relative to catch the children */
	position: relative;
	overflow: scroll;
	width: 200px;
	height: 130px;
	left: 21px;
	top: 5px;
}

#slideshow_set {
	position: absolute;
}

#slideshow_set li {
	float: left;
	height: 130px;
	width: 200px;
}

img {
	border: 0;
}

#navigation {
    position: absolute;
    z-index: 10;
}

#scroll_left {
	left: 0;
	top: 0;
	background: url(left.gif) no-repeat;
}

#scroll_right {
	left: 221px;
	top: 0;
	background: url(right.gif) no-repeat;
}

#scroll_left, #scroll_right {
    position: absolute;
    overflow: hidden;
    display: block;
    padding: 0 0 0 21px;
    height: 140px;
    width: 0px !important; /* for most browsers */
    width /**/: 21px; /* for IE5.5's bad box model */
}