#gallery-container{
    height: 500px;
    width:560px;
    position: relative;
    padding:0 100px;
}
#gallery-container #right-arrow, #gallery-container #left-arrow{
    position: absolute;
    top:225px;
    cursor: pointer;
}
#gallery-container #right-arrow{
    right:50px;
}
#gallery-container #left-arrow{
    left:20px;
}
#largeImg{
    border:10px solid black;
    padding:2px;
    border-radius:5px;
    height: 500px;
    width:500px;
}
.thumbs{
    width:515px;
    text-align: center;
}
.thumbs img{
    cursor:pointer;
    margin:5px 5px;
    border:2px solid black;
    border-radius: 2px;
}