.radios  {

}

.previewZone {

}

.previewZone2 {

	width:500px;
	margin:00;
}

	.boxWidth {
		width:200px;
		margin:18px 0 0 10px;
		font-weight:bold;
	}
	
	.floatLeft {
		float:left
		
	}
	
	#vextstring3{
	margin:0 0 0 10px
}

#vextstring4 {
	margin:0 0 0 0;
}
